.vs/Document[[:space:]]Scanner/CopilotIndices/17.14.1231.31060/CodeChunks.db filter=lfs diff=lfs merge=lfs -text
.vs/Document[[:space:]]Scanner/CopilotIndices/17.14.1231.31060/SemanticSymbols.db filter=lfs diff=lfs merge=lfs -text
.vs/Document[[:space:]]Scanner/v17/Browse.VC.db filter=lfs diff=lfs merge=lfs -text
.vs/Document[[:space:]]Scanner/v17/ipch/AutoPCH/892ba3b53b0ebbb/WORLD_INIT.ipch filter=lfs diff=lfs merge=lfs -text
.vs/Document[[:space:]]Scanner/v17/ipch/AutoPCH/8d1a87d1cea6ce55/MAIN.ipch filter=lfs diff=lfs merge=lfs -text
.vs/Document[[:space:]]Scanner/v17/ipch/AutoPCH/915f0b5909f2b023/MAIN.ipch filter=lfs diff=lfs merge=lfs -text
Document[[:space:]]Scanner/bin/Debug[[:space:]]x64/opencv_world4120d.dll filter=lfs diff=lfs merge=lfs -text
Document[[:space:]]Scanner/bin/Debug[[:space:]]x64/opencv_world4120d.pdb filter=lfs diff=lfs merge=lfs -text
Document[[:space:]]Scanner/bin/Release[[:space:]]x64/opencv_world4120.dll filter=lfs diff=lfs merge=lfs -text
